@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&family=Playfair+Display:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100%;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 100;
  color: #ecf0f1;
  letter-spacing: 2px;
  margin: 0 0 40px 0;
}

p,
li,
a,
.med__button {
  font-family: "PT Sans", sans-serif;
  font-size: 1.2rem;
  color: #ecf0f1;
}

.hero {
  min-height: 100%;
  position: relative;
  padding: 0px 10%;
  display: flex;
  flex-direction: column;
  background-color: rgba(5, 6, 32, 0.7);
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url(./img/adam-jang-MLKrf51NV8w-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(7px);
  transform: scale(1.2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0px;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #e74d71;
}

.med__button {
  width: 111px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  cursor: pointer;
}

.med__button:hover {
  border: 1px solid #e74d71;
  background-color: #e74d71;
}

.hero__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin-top: 200px;
}

.hero__text {
  grid-column-start: span 6;
  margin-right: 40px;
}

.hero__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 35px 0;
  letter-spacing: 2px;
}

/* hamburger */

.mobile__menu {
  display: none;
}
